.composition {
  position: relative;
  @include respond(tab-port) {
    display: flex;
    flex-direction: row;
  }

  &__image {
    width: 55%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    @include respond(tab-port) {
      position: relative;
      width: 33.33333%;
    }

    &--p1 {
      top: 0;
      left: 0;
    }

    &--p2 {
      top: 3rem;
      right: 1rem;
    }

    &--p3 {
      top: 10rem;
      left: 8rem;

      @include respond(tab-port) {
        top: 0;
        left: -1rem;
      }
    }

    &:hover {
      transform: scale(1.1) translateY(3px);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
}
