.form {
  &__group {
    position: relative;
    text-transform: capitalize;
    font-size: $font-size-small;
    transition: all 3s ease;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &__input {
    padding: 1.3rem 1.5rem;
    border-radius: $border-radius-small;
    border: none;
    outline: none;
    background-color: rgba($color-white, 0.5);
    color: $color-gray-dark;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 4px solid transparent;

    &::placeholder {
      font-size: $font-size-small;
      text-transform: capitalize;
    }

    &:focus {
      background-color: rgba($color-white, 0.8);
      border-color: $color-secondary-light;
    }

    &:focus + label {
      top: 5rem;
      opacity: 1;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &:valid {
      border-color: $color-primary-light;
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &__radio {
    &--group {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &--input {
      accent-color: $color-primary;
    }

    &--label {
    }

    &--span {
      text-transform: capitalize;
      font-size: $font-size-small;
      font-weight: 700;
    }
  }
}
