.story {
  font-size: $font-size-default;
  background-color: rgba($color-white, 0.5);
  // background-color: $color-gray-light;
  width: 70%;
  max-height: 20rem;
  margin: 0 auto;
  padding: 5rem;
  transform: skewX(-20deg) scale(0.9);
  box-shadow: 0 1rem 4rem rgba($color-black, 0.1);
  overflow: hidden;
  z-index: 20;
  border-radius: 5px;

  @include respond(tab-port) {
    padding: 3rem;
    width: 85%;
    max-height: 30rem;
    transform: skewX(0) scale(0.9);
  }

  // &:not(:last-child) {
  //   margin-bottom: 5rem;
  // }

  & > * {
    transform: skewX(20deg);

    @include respond(tab-port) {
      transform: skewX(0);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    text-align: center;
    transform: translateY(-2rem) translateX(-2rem) skew(20deg);
    position: relative;

    @include respond(tab-port) {
      transform: skewX(0);
    }
  }

  &__img {
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) scale(1.2);
    backface-visibility: hidden;
  }

  &__caption {
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    color: $color-white;
    // font-size: $font-size-small;
    font-weight: 700;
    transition: all 0.4s;
    text-transform: capitalize;
  }

  &:hover &__img {
    transform: translateX(-2rem);
    filter: blur(5px);
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    // transform: translateY(-10rem);
  }

  &__text {
    @include respond(tab-port) {
      padding-left: 9rem;
    }
  }
}
