body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem;
  color: $color-gray-dark;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  &--main {
    display: inline-block;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 3rem;
    animation: moveToLeft 1s ease-out;
  }
  &--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveToRight 1s ease-out;
    margin-bottom: 40px;
  }
}

.heading-secondary {
  background: linear-gradient(
    to right,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  &:hover {
    transform: skewY(3deg) skewX(10deg) scale(1.01);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertairy {
  text-transform: uppercase;
}
