.u-text-center {
  text-align: center;
}

.u-mb-small {
  margin-bottom: 1.1rem;
}

.u-mb-medium {
  margin-bottom: 3rem;
}

.u-mb-large {
  margin-bottom: 5rem;
}

.u-mt-small {
  margin-top: 1.1rem;
}

.u-mt-medium {
  margin-top: 3rem;
}

.u-mt-large {
  margin-top: 5rem;
}
