.section-about {
  background-color: $color-gray-light;
  padding: 20rem 0 40rem;
  margin-top: -20vh;

  .paragraph {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.section-feature {
  padding: 20rem 0;
  margin-top: -9rem;
  background: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.7)
    ),
    url("./../../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);

  // select all direct child
  & > * {
    transform: skewY(7deg);
  }
}

.section-tour {
  padding: 20rem 0 15rem;
  margin-top: -10rem;
  background-color: $color-gray-light;
}

.section-stories {
  padding: 20rem 0;
  margin-top: -10rem;
  position: relative;
}

.section-book {
  padding: 20rem 0;
  background: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  margin: 0 auto;
  width: 75%;

  height: 40rem;
  background: linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 50% 100%
    ),
    url(./../../img/nat-10.jpg);
  background-position: top;
  background-size: 100%;
  z-index: 10;

  @include respond(tab-port) {
    width: 95%;
  }

  @include respond(tab-land) {
    background: linear-gradient(
        109deg,
        rgba(255, 255, 255, 0.8) 65%,
        transparent 65% 100%
      ),
      url(./../../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(phone) {
    background: linear-gradient(
        109deg,
        rgba(255, 255, 255, 0.8) 100%,
        transparent 65% 100%
      ),
      url(./../../img/nat-10.jpg);
    background-size: cover;
  }

  &__form {
    z-index: 20;
    height: 40rem;
    padding: 2rem;
    width: 50%;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(phone) {
      width: 100%;
    }

    // background-color: rgba($color-white, 0.5);
    // clip-path: polygon(0 0, 60% 0, 45% 100%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 60% 0, 45% 100%, 0 100%);
  }
}
