.section-about {
  background-color: $color-gray-light;
  padding: 20rem 0 40rem;
  margin-top: -20vh;

  .paragraph {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.section-feature {
  padding: 20rem 0;
  margin-top: -9rem;
  background: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.7)
    ),
    url("./../../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);

  // select all direct child
  & > * {
    transform: skewY(7deg);
  }
}

.section-tour {
  padding: 20rem 0 15rem;
  margin-top: -10rem;
  background-color: $color-gray-light;
}

.section-stories {
  padding: 20rem 0;
  margin-top: -10rem;
  position: relative;
}

.section-book {
  padding: 20rem 0;
  background: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );

  .book {
    margin: 0 auto;
    width: 70%;
    min-height: 40rem;
    background-image: url("./../../img/nat-10.jpg");
    background-position: top;
    background-size: cover;
    // clip-path: polygon(0 0, 70% 0, 60% 100%, 0 100%);

    &__form {
      background: linear-gradient(
        to bottom right,
        $color-primary-light,
        $color-primary-dark
      );
    }
  }
}
